@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*, 
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'poppins',sans-serif;
    background: #F7F7F7;
}
.navbar{    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(#ffffff,#eeeeee,#ffffff);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}
.logo{
    font-weight: bold;
    font-size: 1.5rem;
}
ul li a{
    text-decoration: none;
    font-weight: 500;
    color: grey
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 1rem;
}
ul :hover{
    /* background: #d4dfed; */
    border-radius: 2px;
    color: #3D8D7A;
}       

.hero-section{
    height: 350px;
    background:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./img/header-image2.jpg");
    background-position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    word-spacing: .1rem;
}
.hero-section>h3{
    color: #2A3335;
    text-transform: uppercase;
}
.hero-section>p{
    margin-bottom: 10px;
    color: rgba(0,0,0,.9);
    font-size: .8rem;
}
.btn{
    text-transform: uppercase;
    border: none;
    width: 100px;
    background:#3D8D7A ;
    padding: 1em;
    border-radius: 20px ;
    color: white;
    font-weight: bold;
}

.about-us{
    background: linear-gradient(
        285deg,
        hsl(0deg 0% 80%) 0%,
        hsl(344deg 0% 81%) 40%,
      );
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    align-items: center;    
}
.about-us-content{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}
.about-us-content h2 {
    font-size:1rem;
    font-weight: 600;
    color: #666; 
    text-transform: capitalize;
}

.about-us-content h3 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #333;
    margin-bottom: 1rem;
}

.about-us-content p {
   
    font-size: .8rem;
    color: #666;
    line-height: 1.6; 
}
.about-us-image{
        height: 400px;  
        width: 400px;
        background:  linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1)), url("./img/about-photo.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 2px;
}

.type-section {
    background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;    
    align-items: center;
    padding: 1rem;
    gap: 20px; 
    /* max-width: 1024px;  */
    margin: 50px auto;
}
.heading{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
}
.type-item {
    height: 250px;
    width: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.item-1{
    background: url("./img/food1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.item-2{
    background: url("./img/food2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.item-3{
    background: url("./img/food3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.food-section{
    /* border: 2px solid red; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 10px;
    max-width: 1024px;
    margin: 0 auto;
}
.food-item{
    /* border: 2px solid red; */
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.food-img{
    background: linear-gradient(
        rgba(0,0,0,0.3),rgba(0,0,0,0.5)
    );
    width: 300px;
    height: 150px;
    border-radius: 50%;
}
.food-menu-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.food-menu-content>h3{
    /* border: 2px solid black; */
    font-size: .8rem;
    font-weight: bold;
    color: #333;
}
.food-menu-content>p{
    font-size: .8rem;
    color: #666;
}
.food-menu-content>span{
    font-weight: bolder;
    font-size: .7rem;
    color: #3D8D7A;

}
.food-img-1{ 
    background: linear-gradient(
        rgba(0,0,0,0.3),rgba(0,0,0,0.3)
    ),url("./img/food-menu1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.food-img-2{
    background: linear-gradient(
        rgba(0,0,0,0.3),rgba(0,0,0,0.3)
    ),
    url("./img/food-menu2.jpg");
    background-position: center;
    background-size: cover;
}
.food-img-3{
    background:linear-gradient(
        rgba(0,0,0,0.3),rgba(0,0,0,0.3)
    ),
     url("./img/food-menu3.jpg");
    background-position: center;
    background-size: cover;
}
.food-img-4{
    background: linear-gradient(
        rgba(0,0,0,0.3),rgba(0,0,0,0.3)
    ),url("./img/food-menu4.jpg");
    background-position: center;
    background-size: cover;
}
.food-img-5{
    background: linear-gradient(
        rgba(0,0,0,0.3),rgba(0,0,0,0.3)
    ), url("./img/food-menu5.jpg");
    background-position: center;
    background-size: cover;
}
.food-img-6{
    background:linear-gradient(
        rgba(0,0,0,0.3),rgba(0,0,0,0.3)
    ), url("./img/food-menu6.jpg");
    background-position: center;
    background-size: cover;
}
.container{
    background: linear-gradient(
        285deg,
        hsl(0deg 0% 80%) 0%,
        hsl(344deg 0% 81%) 40%,
      );
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
}
.testimonial{
    display: flex;
}
.user-testimonial{
    /* border: 2px solid red; */
    height: 350px;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ratings{
    color: gold;
    font-size: 1.5rem;
}
.user-testimonial>p{
    width: 80%;
    text-align: center;
    padding-bottom: 10px;
}

.user-img{
    border-radius: 50%;
}
.user-img-1{
    width: 100px;
    height: 100px;
    background: url("./img/male-photo1.jpg");
    background-position: center;
    background-size: cover;
}
.user-img-2{
    width: 100px;
    height: 100px;
    background: url("./img/male-photo2.jpg");
    background-position: center;
    background-size: cover;
}
.user-img-3{
    width: 100px;
    height: 100px;
    background: url("./img/male-photo3.jpg");
    background-position: center;
    background-size: cover;
}
.user-testimonial>.name{
    font-size: .8rem;
    color: #333;
    font-weight: 400;
    padding: 10px;
}

.contact-form{
    /* border: 2px solid black ; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}
.contact-img{
    /* border: 2px solid red ; */
    width: 400px;
    height: 400px;
    background: url("img/restraunt-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 500px;
}
form>h3{
    font-weight: 400;
    font-size: 1.5rem; 
    color: #666;
}
.text{
    border: none;
    background: none;
    border-bottom: 2px solid #d4dfed;
    width: 100%;
    padding: 10px;
}
