* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.navbar {
  border: 2px solid red;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: baseline;
  font-size: 2rem;
}
.btn {
  border: 2px solid red;
  border: none;
  font-size: 2rem;
  background: transparent;
  cursor: pointer;
}
.btn:hover {
  background: black;
  color: wheat;
}

.sections {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  padding: 10px;
  background: black;
  color: wheat;
}

.link {
  list-style: none;
}
.hidden {
  display: none;
}
