* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;
}
.timer-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.item {
  border: 2px solid red;
  min-width: 100px;
  height: 100px;
  font-size: 2.7rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stop {
  border: none;
  padding: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}
