body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.input {
  border-radius: 10px;
  width: 500px;
  text-align: center;
  font-size: 2rem;
}
.task {
  width: 500px;
  text-align: center;
  font-size: 2rem;
  background: aliceblue;
  border-radius: 10px;
}

.btn {
  margin: 10px;
  width: 50px;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
  text-align: center;
}

.theme-btn {
  background: transparent;
  padding: 10px;
  font-size: 3rem;
  font-family: cursive;
  border: none;
}
